
body,html{

    box-sizing: border-box;
    background-color: white;
    background: url("../pics/wood-wallpaper-21-610x444.jpg");
width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
/*header*/


.header 
{
  background-color:#606060;

margin-top:100px; 
margin-bottom: 20px;
margin-left: 14px;
margin-right: 14px;
}

.header input
{
  border: 0px;
}
.header i
{
  color: white;
}


.input-group{

  width: 40%;
  padding: 10px;
  margin-left: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input-group span
{
  height: 30px;
}
.input-group-addon
{
  height: 10px;
}
.input-group i
{
  color:white;
}
.input-group-addon {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: #f3b419;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*end header*/

.navbar {
    background-color:#232f3e;
    opacity: 1;
    width: 100%;
    z-index: 99999;
    padding-right: 0px;
    padding-top: 10px;
    border: unset;
    padding-bottom:5px;
    border-radius: 0;
margin-top: 0px;
padding-bottom: 10px;


}
.navbar .btn-danger:first-of-type
{
    margin-left: 0px;
}
.navbar .btn-danger
{
    margin-top: 5px;
    background-color: #f1585b;
    border: 0px;

}
.navbar-header .btn-danger
{
display: none;
}
.cart i
{
  float: right;
  margin-right:50px; 
  margin-top: -40px;
}
.navbar-collapse.in {
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.navbar-nav > li > a {
    padding-top: 10px;
    line-height: 10px;
}
.navbar-header img
{
    width: 100px;
    height: 40px;
    margin-right: 50px;
  margin-left: 0px;

}
.navbar-header h1
{
   color: white;
}
/* t3del 3la menu collaps*/

.navbar-collapse {
    padding-right: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0px;

    font-family: 'Amiri', serif;
    font-size: 20px;
font-family: 'El Messiri', sans-serif;

}
a:hover{
    text-decoration: unset;
}
 @media (max-width: 750px) {

.navbar-default .navbar-nav > li > a {
    color:white;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    font-family: 'Amiri', serif;
    font-size: 20px;
font-family: 'El Messiri', sans-serif;

}
   
 }
.navbar-default .navbar-nav > li > a:hover {

    color: #f3b419;
}


.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: unset;
}

.dropdown-menu > li > a {
font-family: 'Merriweather', serif;
    color: white;
    border-bottom: 1px solid #ccc;
    padding-top: 0px;
}




.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: unset;
    border-color: #337ab7;
}

.navbar-header h3
{
  display: inline;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  color:#f3b419;
font-family: 'El Messiri', sans-serif;
}

.navbar-header span
{
    display: inline;
    color:white;
}
/*topimage*/
.topimg 
{
background: url("../pics/meet.jpg")center;
background-position: fixed;
    width: 100%;
    height: 300px;
    margin-top: 50px;

  
}


/*end topimage*/
/*food*/

.food h3{

    background-color:#f28322;
    color: white;
    margin-top: 0px;
    padding: 5px;
}
.food img
{
width: 100%;
height: 200px;
margin-top: 10px;
}
/*end food*/
/*foooter*/
.footer
{
    margin-top: 75px;
    margin-bottom: 0px;
    background-color:#232f3e;
    padding: 10px;
}
.footer img
{
    width: 80px;
}
.footer i
{
    color: #f1585b;
}
.fa-facebook-square
{
     color: #4e71a8;
}
  .footer .fa-twitter-square 
 {
  color: #0074a1;
 }
   .footer .fa-google-plus-square  
 {
  color: #e3411f;
 }
/*end footer*/
/*main*/
.main h3{

    background-color:#f28322;
    color: white;
    margin-top: 0px;
    padding: 5px;
}
.main img
{
width: 100%;
height: 200px;
margin-top: 10px;
}
/*end main*/
/*inner*/
.inner
{
    margin-top: 20px;
}
.inner  .btn-success
{
    margin-left: -60px;
    border-radius: 0px;
    

}
.inner button
{
    width: 100%;
    border-radius: 0px;
    margin-bottom: 20px;
    
}
.topimginner
{
    background: url('../pics/frakh.jpg')center;
background-repeat: no-repeat;
background-position: fixed;
    width: 100%;
    height: 200px;
    margin-top: 80px;

}
.topimginner img

{
width: 100%;
margin-top: 60px;

}
.topimginner ul li
{
 margin-right: 30px;
 font-size: 18px;
 margin-top: 2px;
 
}
.treka
{
    display: none;
    list-style: none;


}
.treka li
{
 margin-top: 2px;
 margin-right: 0px;
 
}
.treka
{
    padding-right: 0px;
}
.re
{
  
}
/*end inner*/
/*topbuttob*/
.topbutton
{
 
    color:#f3b419;
   width:40px;
    height: 40px;
    text-align: center;
    padding: 10px 8px;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 99999;
    background-color:  #606060;
    border-radius: 10%;
    cursor: pointer;
    display: none;
    
   

}
.topbutton i:hover
{
    color: white;
}
/*fish*/
.topimgfish
{
    background: url("../pics/fish.jpg")center;
    background-repeat: no-repeat;
background-position: fixed;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
/*end fish*/
/*shawarma*/
.topimgshawrma
{
    background: url("../pics/shawarma.jpg")center;
    background-repeat: no-repeat;
background-position: fixed;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
/*shawrma*/
/*sambosa*/
.topimgsambosa
{
    background: url("../pics/sambosa.jpg")center;
    background-repeat: no-repeat;
background-position: fixed;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
/*sambosa*/
/*bshamel*/

/*bshamel*/
.topimgbshamel
{
    background: url("../pics/bashamel.jpg")center;
    background-repeat: no-repeat;
background-position: fixed;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
/*end b4amel*/
/*pizza*/
.topimgpizza
{
    background: url("../pics/pizza.jpg")center;
    background-repeat: no-repeat;
background-position: fixed;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
/*end pizza*/
/*pizza*/
.konafa img
{
width:70%;
    height: 200px;
    margin-top: 80px;
}
/*end pizza*/